
<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Amanda</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/port_3.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Amanda is an undergraduate journalism student at Mercer University in Macon. She is also working on minors in creative writing and business administration, and she hopes to work in young adult publishing when she graduates.</p>
                    <p>During her time at Mercer, Amanda has had the privelege of working with the student newspaper, <a href = "http://mercercluster.com/" alt="The Cluster">The Cluster</a>, the student literary magazine, <a href = "http://mercerdulcimer.com/" alt = "The Dulcimer">The Dulcimer</a>, as well as at the University Center as a Bear Force worker.</p>
                    <p>Amanda is currently looking for summer internships to gain experience in the fields of publishing, marketing, or journalism. She hopes that her widespread education will make her a more appealing candidate to employers, especially with graduation looming.</p>
                </div>
            </div>
    </div>