
<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Amanda's</strong>
                        Works
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/port_2.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Due to her varied experience with the student newspaper and journalism classes, Amanda's works take the form of written newspaper pieces and photographs. Each are expanded below.</p>
                    <br />
                    <br />
                    <br />
                    <h3>Written Newpaper Pieces</h3>
                        <ul>
                            <li><a href = "http://mercercluster.com/2014/08/22/lofts-phase-iv-now-underway/">Lofts Phase IV Now Underway</a></li>
                            <li><a href = "http://mercercluster.com/2014/08/16/tattnall-square-park-gains-frontline-status/">Tattnall Square Park inducted into the "Ivys" of public parks</li>
                            <li><a href= "http://mercercluster.com/2014/03/29/sga-hosts-qa-session-with-presidential-and-vice-presidential-candidates/">SGA hosts Q&A session with presidential and vice presidential candidates</a></li>
                            <li><a href = "http://mercercluster.com/2014/03/20/great-women-in-mercers-history/">Great women in Mercer's history</a></li>
                            <li><a href = "http://mercercluster.com/2014/02/06/mercer-professor-participates-in-academic-peace-conference-in-iran/">Mercer professor participates in academic peace conference in Iran</a></li>
                            <li><a href = "http://mercercluster.com/2014/01/22/c-span-features-macon-stories/">C-SPAN features Macon stories</a></li>
                            <li><a href = "http://mercercluster.com/2013/11/09/grocery-store-to-open-in-downtown-macon/">Grocery store to open in downtown Macon</a></li>
                        </ul>
                    <h3>Photographs</h3>
                        <table>
	                       <tbody>
	                           <tr>
	                               <td>
	                                       <img src="img/table_1.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/> 
	                               </td>
	                               <td>
                                       <img src="img/table_2.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                   <td>
                                       <img src="img/table_3.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                   <td>
                                       <img src="img/table_4.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                </tr>
                               <tr>
	                               <td>
	                                       <img src="img/table_5.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/> 
	                               </td>
	                               <td>
                                       <img src="img/table_6.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                   <td>
                                       <img src="img/table_7.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                   <td>
                                       <img src="img/table_8.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                </tr>
                               <tr>
	                               <td>
	                                       <img src="img/table_9.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/> 
	                               </td>
	                               <td>
                                       <img src="img/table_10.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                   <td>
                                       <img src="img/table_11.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                   <td>
                                       <img src="img/table_12.jpg" onmouseover="this.width='400'; this.height='400'" onmouseout="this.width='150'; this.height='150'" width = '150' height = '150'/>
                                   </td>
                                </tr>
	    </tbody>
	    </table>
                </div>
            </div>
    </div>